In [8]:
#import libraries
import pandas as pd
import numpy as np
import os

In [10]:
df_ords=pd.read_csv(r'C:\Users\dsubr\Downloads\11-04-2025 Instacart Basket Analysis\02. Data\Prepared Data\orders_cleaned.csv',index_col=False)

In [12]:
df_ords_prior=pd.read_csv(r'C:\Users\dsubr\Downloads\11-04-2025 Instacart Basket Analysis\03.Scripts\orders_products_prior.csv',index_col=False)

In [7]:
df_ords_prior.shape

(32434489, 4)

In [14]:
df_ords.shape

(3421083, 6)

In [15]:
pd.merge(df_ords,df_ords_prior, on = ['order_id'], indicator = True)

,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,13,1,12,7.0,22920,9,0,both

In [16]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [23]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

1.If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

In [27]:
path=r'C:\Users\dsubr\Downloads\11-04-2025 Instacart Basket Analysis\03.Scripts\orders_products_prior.csv'

In [29]:
path

'C:\\Users\\dsubr\\Downloads\\11-04-2025 Instacart Basket Analysis\\03.Scripts\\orders_products_prior.csv'

In [35]:
df_merged_large.to_pickle(os.path.join('orders_products_combined.pkl'))