In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
ords_prods_merge=pd.read_pickle(r'C:\Users\dsubr\Downloads\11-04-2025 Instacart Basket Analysis\02. Data\Prepared Data\orders_products_merged_derived.pkl')

In [6]:
# Creating subset for the latest dataframe

In [4]:
ords_prods_merge_sub=ords_prods_merge[:1000000]

Aggregating order_number based on department_id for the entire dataframe

In [5]:
ords_prods_merge_sub.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

# Grouping min, max and mean of order number based on department_id for the entire dataframe not the above subset

In [6]:
ords_prods_merge.groupby('department_id').agg({'order_number':[ 'mean','min','max']})

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.215751   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170638   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.773669   1  99
15               16.165037   1  99
16               17.665606   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

As seen from the above result there are 21 deaprtments compared to lesser departments for the subset above.

In [9]:
ords_prods_merge['max_order']=ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\dsubr\AppData\Local\Temp\ipykernel_2024\2690353080.py:1: FutureWarning: The provided callable <function max at 0x000001E9785DA020> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order']=ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

# Transforming max value of order number from np library therby creating a new column max_order based on user_id- column max_order created

In [15]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,max_order
0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,10
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,10
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,10
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,10
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,10
5,3367565,1,6,2,7,19.0,196,1,1,195,Soda,77,7,9.0,10
6,550135,1,7,1,9,20.0,196,1,1,195,Soda,77,7,9.0,10
7,3108588,1,8,1,14,14.0,196,2,1,195,Soda,77,7,9.0,10
8,2295261,1,9,1,16,0.0,196,4,1,195,Soda,77,7,9.0,10
9,2550362,1,10,4,8,30.0,196,1,1,195,Soda,77,7,9.0,10
10,2968173,15,15,1,9,7.0,196,2,0,195,Soda,77,7,9.0,22
11,1870022,15,17,2,16,8.0,196,6,1,195,Soda,77,7,9.0,22
12,1911383,15,18,2,11,7.0,196,1,1,195,Soda,77,7,9.0,22
13,2715276,15,21,1,9,7.0,196,1,1,195,Soda,77,7,9.0,22
14,487368,15,22,1,10,14.0,196,1,1,195,Soda,77,7,9.0,22
15,2293453,19,2,5,14,6.0,196,3,0,195,Soda,77,7,9.0,9
16,1973799,19,5,6,12,8.0,196,15,1,195,Soda,77,7,9.0,9
17,532817,19,7,4,17,6.0,196,1,1,195,Soda,77,7,9.0,9
18,1573906,21,10,3,10,6.0,196,2,0,195,Soda,77,7,9.0,33
19,1593000,31,10,3,8,7.0,196,17,0,195,Soda,77,7,9.0,20

# Assigning loyalty_flag for customers
Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [17]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [ ]:
# Checking frequency for the same

In [18]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [ ]:
# Checking new column loyalty_flag in dataframe

In [33]:
ords_prods_merge[['user_id','loyalty_flag','order_number','max_order']].head(20)

    user_id      loyalty_flag  order_number  max_order
0         1      New customer             1         10
1         1      New customer             2         10
2         1      New customer             3         10
3         1      New customer             4         10
4         1      New customer             5         10
5         1      New customer             6         10
6         1      New customer             7         10
7         1      New customer             8         10
8         1      New customer             9         10
9         1      New customer            10         10
10       15  Regular customer            15         22
11       15  Regular customer            17         22
12       15  Regular customer            18         22
13       15  Regular customer            21         22
14       15  Regular customer            22         22
15       19      New customer             2          9
16       19      New customer             5          9
17       19      New customer             7          9
18       21  Regular customer            10         33
19       31  Regular customer            10         20

In [ ]:
# For the new column loyalty_flag check the min, mean and max based on prices paid (purchased) by the customers

The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [43]:
ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386335  1.0  99999.0
New customer      13.294669  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [ ]:
# finding spender -creating spending flag

In [39]:
ords_prods_merge['spending_average']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\dsubr\AppData\Local\Temp\ipykernel_2024\3146057263.py:1: FutureWarning: The provided callable <function mean at 0x000001E9785DAA20> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['spending_average']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [41]:
ords_prods_merge.loc[ords_prods_merge['spending_average']<10,'spender_flag']='Low_spender'

ords_prods_merge.loc[ords_prods_merge['spending_average']>= 10, 'spender_flag'] = 'High_spender'

In [45]:
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     31770614
High_spender      634245
Name: count, dtype: int64

In [49]:
pd.options.display.max_rows=None

In [55]:
ords_prods_merge[['user_id','spending_average','spender_flag','prices']].head(100)

    user_id  spending_average  spender_flag  prices
0         1          6.367797   Low_spender     9.0
1         1          6.367797   Low_spender     9.0
2         1          6.367797   Low_spender     9.0
3         1          6.367797   Low_spender     9.0
4         1          6.367797   Low_spender     9.0
5         1          6.367797   Low_spender     9.0
6         1          6.367797   Low_spender     9.0
7         1          6.367797   Low_spender     9.0
8         1          6.367797   Low_spender     9.0
9         1          6.367797   Low_spender     9.0
10       15          3.980556   Low_spender     9.0
11       15          3.980556   Low_spender     9.0
12       15          3.980556   Low_spender     9.0
13       15          3.980556   Low_spender     9.0
14       15          3.980556   Low_spender     9.0
15       19          8.372059   Low_spender     9.0
16       19          8.372059   Low_spender     9.0
17       19          8.372059   Low_spender     9.0
18       21          7.012683   Low_spender     9.0
19       31          8.137793   Low_spender     9.0
20       31          8.137793   Low_spender     9.0
21       43          7.444898   Low_spender     9.0
22       43          7.444898   Low_spender     9.0
23       52          6.356287   Low_spender     9.0
24       52          6.356287   Low_spender     9.0
25       52          6.356287   Low_spender     9.0
26       52          6.356287   Low_spender     9.0
27       52          6.356287   Low_spender     9.0
28       52          6.356287   Low_spender     9.0
29       52          6.356287   Low_spender     9.0
30       52          6.356287   Low_spender     9.0
31       52          6.356287   Low_spender     9.0
32       52          6.356287   Low_spender     9.0
33       52          6.356287   Low_spender     9.0
34       52          6.356287   Low_spender     9.0
35       52          6.356287   Low_spender     9.0
36       52          6.356287   Low_spender     9.0
37       67          7.656790   Low_spender     9.0
38       67          7.656790   Low_spender     9.0
39       67          7.656790   Low_spender     9.0
40       67          7.656790   Low_spender     9.0
41       67          7.656790   Low_spender     9.0
42       67          7.656790   Low_spender     9.0
43       67          7.656790   Low_spender     9.0
44       67          7.656790   Low_spender     9.0
45       67          7.656790   Low_spender     9.0
46       67          7.656790   Low_spender     9.0
47       67          7.656790   Low_spender     9.0
48       67          7.656790   Low_spender     9.0
49       67          7.656790   Low_spender     9.0
50       67          7.656790   Low_spender     9.0
51       67          7.656790   Low_spender     9.0
52       67          7.656790   Low_spender     9.0
53       67          7.656790   Low_spender     9.0
54       67          7.656790   Low_spender     9.0
55       67          7.656790   Low_spender     9.0
56       81          8.165384   Low_spender     9.0
57       81          8.165384   Low_spender     9.0
58       82          6.441221   Low_spender     9.0
59       82          6.441221   Low_spender     9.0
60       82          6.441221   Low_spender     9.0
61       82          6.441221   Low_spender     9.0
62       82          6.441221   Low_spender     9.0
63       82          6.441221   Low_spender     9.0
64       82          6.441221   Low_spender     9.0
65       82          6.441221   Low_spender     9.0
66       82          6.441221   Low_spender     9.0
67       98          8.028000   Low_spender     9.0
68       98          8.028000   Low_spender     9.0
69       98          8.028000   Low_spender     9.0
70       98          8.028000   Low_spender     9.0
71       98          8.028000   Low_spender     9.0
72       98          8.028000   Low_spender     9.0
73       98          8.028000   Low_spender     9.0
74      109          5.850725   Low_spender     9.0
75      120          9.385714   Low_spender     9.0
76      120          9.385714   Low_spender     9.0
77      185          7.715000   Low_spender     9.0
78      195          7.149729   Low_spender     9.0
79      195          7.149729   Low_spender     9.0
80      195          7.149729   Low_spender     9.0
81      195          7.149729   Low_spender     9.0
82      195          7.149729   Low_spender     9.0
83      195          7.149729   Low_spender     9.0
84      195          7.149729   Low_spender     9.0
85      195          7.149729   Low_spender     9.0
86      195          7.149729   Low_spender     9.0
87      195          7.149729   Low_spender     9.0
88      195          7.149729   Low_spender     9.0
89      195          7.149729   Low_spender     9.0
90      222          6.862397   Low_spender     9.0
91      222          6.862397   Low_spender     9.0
92      290          7.285597   Low_spender     9.0
93      290          7.285597   Low_spender     9.0
94      331          7.705128   Low_spender     9.0
95      360         10.006250  High_spender     9.0
96      377          8.496552   Low_spender     9.0
97      387          7.396610   Low_spender     9.0
98      420          7.387805   Low_spender     9.0
99      420          7.387805   Low_spender     9.0

In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”
Ensure your notebook is clean and structured and that

In [ ]:
# Creating customer frequency column

In [59]:
ords_prods_merge['customer_frequency']=ords_prods_merge.groupby(['user_id'])['days_since_previous_order'].transform(np.mean)

C:\Users\dsubr\AppData\Local\Temp\ipykernel_2024\3552267135.py:1: FutureWarning: The provided callable <function mean at 0x000001E9785DAA20> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['customer_frequency']=ords_prods_merge.groupby(['user_id'])['days_since_previous_order'].transform(np.mean)

In [ ]:
checking condition for flag value of customer frequency

In [63]:
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] > 20, 'frequency_flag'] = 'Non_frequent_customer'

ords_prods_merge.loc[(ords_prods_merge['customer_frequency']>10) & (ords_prods_merge['customer_frequency']<=20),'frequency_flag'] = 'Regular customer'

ords_prods_merge.loc[ords_prods_merge['customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [65]:
ords_prods_merge['frequency_flag'].value_counts(dropna=False)

frequency_flag
Frequent Customer        16468582
Regular customer         12521159
Non_frequent_customer     3415113
NaN                             5
Name: count, dtype: int64

In [ ]:
Nan are new customers purchased may be once .

In [ ]:
Checking the newely added column customer_frequency and frequency_flag values

In [69]:
ords_prods_merge[['user_id','days_since_previous_order','customer_frequency','frequency_flag']].head(100)

,user_id,days_since_previous_order,customer_frequency,frequency_flag
0,1,NaN,20.259260,Non_frequent_customer
1,1,15.0,20.259260,Non_frequent_customer
2,1,21.0,20.259260,Non_frequent_customer
3,1,29.0,20.259260,Non_frequent_customer
4,1,28.0,20.259260,Non_frequent_customer
5,1,19.0,20.259260,Non_frequent_customer
6,1,20.0,20.259260,Non_frequent_customer
7,1,14.0,20.259260,Non_frequent_customer
8,1,0.0,20.259260,Non_frequent_customer
9,1,30.0,20.259260,Non_frequent_customer
10,15,7.0,11.029411,Regular customer
11,15,8.0,11.029411,Regular customer
12,15,7.0,11.029411,Regular customer
13,15,7.0,11.029411,Regular customer
14,15,14.0,11.029411,Regular customer
15,19,6.0,8.040698,Frequent Customer
16,19,8.0,8.040698,Frequent Customer
17,19,6.0,8.040698,Frequent Customer
18,21,6.0,10.055000,Regular customer
19,31,7.0,6.073427,Frequent Customer
20,31,8.0,6.073427,Frequent Customer
21,43,4.0,10.549295,Regular customer
22,43,3.0,10.549295,Regular customer
23,52,NaN,9.155279,Frequent Customer
24,52,7.0,9.155279,Frequent Customer
25,52,7.0,9.155279,Frequent Customer
26,52,8.0,9.155279,Frequent Customer
27,52,8.0,9.155279,Frequent Customer
28,52,7.0,9.155279,Frequent Customer
29,52,8.0,9.155279,Frequent Customer
30,52,7.0,9.155279,Frequent Customer
31,52,6.0,9.155279,Frequent Customer
32,52,8.0,9.155279,Frequent Customer
33,52,6.0,9.155279,Frequent Customer
34,52,14.0,9.155279,Frequent Customer
35,52,8.0,9.155279,Frequent Customer
36,52,30.0,9.155279,Frequent Customer
37,67,NaN,7.714286,Frequent Customer
38,67,5.0,7.714286,Frequent Customer
39,67,7.0,7.714286,Frequent Customer
40,67,8.0,7.714286,Frequent Customer
41,67,8.0,7.714286,Frequent Customer
42,67,7.0,7.714286,Frequent Customer
43,67,7.0,7.714286,Frequent Customer
44,67,7.0,7.714286,Frequent Customer
45,67,6.0,7.714286,Frequent Customer
46,67,7.0,7.714286,Frequent Customer
47,67,8.0,7.714286,Frequent Customer
48,67,6.0,7.714286,Frequent Customer
49,67,7.0,7.714286,Frequent Customer
50,67,9.0,7.714286,Frequent Customer
51,67,4.0,7.714286,Frequent Customer
52,67,9.0,7.714286,Frequent Customer
53,67,5.0,7.714286,Frequent Customer
54,67,14.0,7.714286,Frequent Customer
55,67,14.0,7.714286,Frequent Customer
56,81,14.0,26.086956,Non_frequent_customer
57,81,30.0,26.086956,Non_frequent_customer
58,82,NaN,12.188524,Regular customer
59,82,5.0,12.188524,Regular customer
60,82,16.0,12.188524,Regular customer
61,82,13.0,12.188524,Regular customer
62,82,30.0,12.188524,Regular customer
63,82,1.0,12.188524,Regular customer
64,82,12.0,12.188524,Regular customer
65,82,7.0,12.188524,Regular customer
66,82,8.0,12.188524,Regular customer
67,98,25.0,19.956522,Regular customer
68,98,5.0,19.956522,Regular customer
69,98,30.0,19.956522,Regular customer
70,98,15.0,19.956522,Regular customer
71,98,30.0,19.956522,Regular customer
72,98,30.0,19.956522,Regular customer
73,98,8.0,19.956522,Regular customer
74,109,9.0,21.850000,Non_frequent_customer
75,120,NaN,18.000000,Regular customer
76,120,19.0,18.000000,Regular customer
77,185,25.0,27.222221,Non_frequent_customer
78,195,NaN,5.491803,Frequent Customer
79,195,4.0,5.491803,Frequent Customer
80,195,3.0,5.491803,Frequent Customer
81,195,7.0,5.491803,Frequent Customer
82,195,4.0,5.491803,Frequent Customer
83,195,4.0,5.491803,Frequent Customer
84,195,6.0,5.491803,Frequent Customer
85,195,0.0,5.491803,Frequent Customer
86,195,2.0,5.491803,Frequent Customer
87,195,2.0,5.491803,Frequent Customer
88,195,2.0,5.491803,Frequent Customer
89,195,3.0,5.491803,Frequent Customer
90,222,1.0,6.120582,Frequent Customer
91,222,1.0,6.120582,Frequent Customer
92,290,6.0,7.141034,Frequent Customer
93,290,7.0,7.141034,Frequent Customer
94,331,30.0,27.941177,Non_frequent_customer
95,360,NaN,4.909091,Frequent Customer
96,377,3.0,16.500000,Regular customer
97,387,22.0,9.125000,Frequent Customer
98,420,30.0,11.181034,Regular customer
99,420,16.0,11.181034,Regular customer

Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [71]:
ords_prods_merge.to_pickle(r'C:\Users\dsubr\Downloads\11-04-2025 Instacart Basket Analysis\02. Data\Prepared Data\orders_products_aggregated.pkl')